.doctors {
    padding: 5rem 2rem;
}


.doctors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,2fr));
    gap: 4rem;
    max-width: 1200px;
    margin: 10px auto;
}

.doctor-card {
    background: white;
    padding: 10px;
    text-align: center;

    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

    .doctor-card:hover {
        transform: scale(1.05);
    }

    .doctor-card img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px;
        object-fit: cover;
    }

    .doctor-card h3 {
        color: #2c3e50;
    }

    .doctor-card p {
        color: #666;
    }
