.hero {
    height: 100vh;
    background-image: url("../Iamges/hms_im.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity for the dark effect */
    z-index: 1; /* Ensure it sits between the image and text */
}

.hero-content {
    max-width: 800px;
    padding: 2rem;
    z-index: 1;
}

    .hero-content h2 {
        font-size: 3rem;
        z-index: 1;
        margin-bottom: 1rem;
    }

    .hero-content p {
        z-index: 1;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

.cta-button {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .cta-button:hover {
        background-color: #2980b9;
    }
